<div class="jumbotron">
    <h1>Arctum</h1>
    <p data-bind="text: activeLanguageTexts().message">This is a simple app to show you some great knockout features.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button" data-bind="click: addCard, text: activeLanguageTexts().addCard">Add Card</a></p>
</div>
<div class="row">
    <!-- ko foreach: cards -->
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
        <card params="data: $data, currentLanguage: $parent.currentLanguage, parent: $parent"></card>
    </div>
    <!-- /ko -->
</div>
