<h2 data-bind="text: activeLanguageTexts().ranking">Ranking</h2>



<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th data-bind="text: activeLanguageTexts().firstName">First Name</th>
            <th data-bind="text: activeLanguageTexts().lastName">Last Name</th>
            <th data-bind="text: activeLanguageTexts().username">Username</th>
        </tr>
    </thead>
    <!-- ko if: !pageLoading() -->
    <tbody>
        <!-- ko foreach: rankings -->
        <tr data-bind="component: { name: 'row-ranking', params: { data: $data, index: $index} }"></tr>
        <!-- /ko -->
    </tbody>
    <!-- /ko -->
</table>
<!-- ko if: !pageLoading() -->
<div class="btn btn-primary" data-bind="click: getRankings, text: activeLanguageTexts().refresh">Refresh</div>
<!-- /ko -->

<!-- ko if: pageLoading() -->
<div class="container-ranking-loader">
  <loader></loader>
</div>
<!-- /ko -->
