html {
    height: 100%;
}

body {
    background: #f2f2f2;
    height: 100%;
    overflow: hidden;
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Chrome/Safari/Opera */
    -webkit-user-select: none;
    /* Konqueror */
    -khtml-user-select: none;
    /* Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    font-family: TheSaB5, 'Trebuchet MS', Arial, Helvetica, sans-serif !important;
}

*::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.08);
}

.navbar-inverse {
    background-color: #333;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand>img {
    width: 50px;
}

.navbar-fixed-top {
    border: 1px;
}

.icon-navbar-profile-person {
    font-size: 20px;
}

.dropdown-menu {
    border-top: initial;
}

.dropdown-background {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1031;
    background: black;
    opacity: 0.1;
}

.dropdown {
    z-index: 1032;
}

.page {
    background: #fff;
    margin-top: 50px;
    height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
}

.jumbotron {
    background: initial;
}

.card {
    height: 98px;
    margin-bottom: 10px;
    background: #f2f2f2;
    border-radius: 2px;
    padding: 5px;
}

.btn-card-delete {
    float: right;
    margin-top: -5px;
    margin-right: -5px;
    border-top-left-radius: initial;
    border-bottom-left-radius: initial;
    border-bottom-right-radius: initial;
}

.card-input {
    width: 100%;
}

.card-input-maxlength {
    color: red;
    font-size: 11px;
}

.icon-ranking-refresh {
    margin-left: 5px;
}

.icon-ranking-refresh:hover {
    opacity: 0.8;
}

.container-ranking-loader {
    height: 100px;
}

.nav-profile {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    border-bottom: 1px solid #f2f2f2;
    padding-top: 15px;
    float: left;
    width: 100%;
}

.nav-profile>li {
    float: left;
    margin: 0 12px -1px;
}

.nav-profile>li>a {
    cursor: pointer;
    color: #333;
    border-bottom: 1px solid transparent;
    display: block;
    font-size: 18px;
    line-height: 1.8;
    text-decoration: none;
}

.nav-profile>li>a:hover {
    border-color: #333;
    outline: 0;
}

.nav-profile>li.active>a {
    border-color: #337ab7;
    color: #337ab7;
    cursor: default;
}
